# Add any directories, files, or patterns you don't want to be tracked by version control
.svn
*.bbl
*.aux
*.blg
*.log
*.*~

WeakBisim.pdf
2016-Weak-FH-Bisim/lncs/history.txt
2016-Weak-FH-Bisim/lncs/llncs.doc
2016-Weak-FH-Bisim/lncs/llncs.dvi
2016-Weak-FH-Bisim/lncs/llncs.ind
