# Add any directories, files, or patterns you don't want to be tracked by version control
.svn
*.bbl
*.aux
*.blg
*.log
*.*~
*.bak
*.out
.DS_Store
*.pstex*
*.dvi

WeakBisim.pdf
2016-Weak-FH-Bisim/lncs/history.txt
2016-Weak-FH-Bisim/lncs/llncs.doc
2016-Weak-FH-Bisim/lncs/llncs.dvi
2016-Weak-FH-Bisim/lncs/llncs.ind
2016-Weak-FH-Bisim/XFIG/*.tex
2016-Weak-FH-Bisim/XFIG/*.eps
2016-Weak-FH-Bisim/XFIG/Bisim.pdf

2017-Xudong-SMT/FM-2018-extended.pdf
2017-Xudong-SMT/checker.pdf
2017-Xudong-SMT/checker.zip
2017-Xudong-SMT/pNetZ3paper.pdf

2017-Xudong-SMT/XFIG/*.dvi
2017-Xudong-SMT/XFIG/*.pstex*
2017-Xudong-SMT/XFIG/*.eps
2017-Xudong-SMT/XFIG/*.dvi
2017-Xudong-SMT/XFIG/*.log
2017-Xudong-SMT/XFIG/*.aux
2017-Xudong-SMT/XFIG/*.tex
2017-Xudong-SMT/XFIG/*.pdf

2017-Xudong-SMT/XFIG/.cleanup
arch-pNets.pdf
