# Add any directories, files, or patterns you don't want to be tracked by version control
.svn
*.bbl
*.aux
*.blg
*.log
*.*~
.DS_Store

WeakBisim.pdf
2016-Weak-FH-Bisim/lncs/history.txt
2016-Weak-FH-Bisim/lncs/llncs.doc
2016-Weak-FH-Bisim/lncs/llncs.dvi
2016-Weak-FH-Bisim/lncs/llncs.ind
2017-Xudong-SMT/FM-2018-extended.pdf
2017-Xudong-SMT/figures-simon/*-test.pdf

2017-Xudong-SMT/XFIG/*.dvi
2017-Xudong-SMT/XFIG/*.eps
2017-Xudong-SMT/XFIG/*.pstex_t_2
2017-Xudong-SMT/XFIG/*.dvi
2017-Xudong-SMT/XFIG/*.log
2017-Xudong-SMT/XFIG/*.aux
2017-Xudong-SMT/XFIG/*.tex